<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <link rel="icon" href="/favicon.ico" />
  </head>
  <script>
    const myButton = document.getElementById("myButton");

    export let isDarkMode = window.matchMedia(
      "(prefers-color-scheme: dark)"
    ).matches;

    myButton.addEventListener("click", () => {
      if (isDarkMode) {
        document.body.classList.remove("dark-mode");
        document.body.classList.add("light-mode");
        isDarkMode = false;
      } else {
        document.body.classList.add("dark-mode");
        document.body.classList.remove("light-mode");
        isDarkMode = true;
      }
    });
    const copyBtns = document.querySelectorAll(".copy-btn");

    copyBtns.forEach((btn) => {
      btn.addEventListener("click", () => {
        const url = btn.getAttribute("data-url");
        navigator.clipboard
          .writeText(url)
          .then(() => {
            alert(`Copied ${url} to clipboard`);
          })
          .catch((err) => {
            console.error("Error copying to clipboard:", err);
          });
      });
    });
  </script>
  <body>
    <div class="container">
      <div>
        <h1>URL Shortener</h1>

        <button id="myButton">Dark Mode</button>
      </div>
      <form action="/shorten" method="post">
        <label for="fullUrl">Enter URL:</label>
        <input type="url" name="fullUrl" id="fullUrl" required />
        <button type="submit">Shorten</button>
      </form>
      <table>
        <% if (urls.loading ) { %>
        <div class="loader"></div>
        <% } %>
        <thead>
          <tr>
            <th>Full URL</th>
            <th>Short URL</th>
            <th># of Clicks</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if (urls && urls.length >0) { %> <% urls.forEach(url => { %>
          <tr>
            <td>
              <a href="<%= url.full_url %>" target="_blank" class="full-url"
                ><%= url.full_url %></a
              >
            </td>

            <td class="short-url">
              <a href="<%= url.full_url %>" target="_blank"
                ><%= url.short_url %></a
              >
              <button class="copy-btn" data-url="<%= url.full_url %>">
                Co
              </button>
            </td>
            <td><%= url.clicks %></td>
            <td>
              <form method="post" action="/delete" class="buttontd">
                <button
                  name="shortUrl"
                  id="shortUrl"
                  type="submit"
                  value="<%= url.short_url %>"
                >
                  Delete
                </button>
              </form>
            </td>
          </tr>
          <% }); %> <% } else { %>
          <tr>
            <td colspan="3">No URLs found.</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
